$light: white;
$dark: black;
$mid: rgba(69, 67, 86, 0.75);

// $background: $white;
// $card-bg: rgba(69, 67, 86, 0.75);
//
// $title: $white;
// $text: $black;
//
// $main-btn: rgba(69, 67, 86, 0.75);
// $call-to-action: rgba(69, 67, 86, 0.75);
