// .rowFormat {
//   padding: 1.3em;
//   border-radius: 25px;
//   margin-right:2em;
//   margin-left: 2em;
//   margin-top: .3em;
// }

.leftSpaceM {
  padding-left: $sizeM;
}

.leftSpaceL {
  padding-left: $sizeL;
}
.rightSpaceM {
  padding-right: $sizeM
}
.topSpaceL {
  padding-top: $sizeL - .7;
}

.topSpaceM {
  padding-top: $sizeM;
}

.topSpaceS {
  padding-top: $sizeS;
}

.bottomSpaceM {
  padding-bottom: $sizeM;
}
